body {
    margin: 0px;
    padding: 0px;
}


#errorMessages {
    background-color:lightcoral;
    border: 1px solid black;
    table-layout:fixed;
    width: 336px;
    text-align:center;
    line-height: 22px;
    display: none;
    /*visibility:visible !important;*/
    padding: 20px;
}

#successMessage, #successMessage2 {
    background-color: lightgreen;
    width: 407px;
    margin-top: -60px;
    margin-left: 20px;
    padding: 15px;
    border: 1px solid black;
    margin: 20px;
    text-align: center;
    display: none;
}

#successMessage2 {
    width: 700px;
    display: block !important;
}

#errorCheck, #ValidationSummary1, #mailCheck, #regexEmailValid, #cusCustom, .errorMessage {
    /*display: block !important;
    visibility:visible !important;*/
}


#ValidationSummary1{
    text-align:left;
    padding: 30px;
    padding-top: 0px;
}

#navcontainer{
    width:100%;
    height: 22px;
    left: 0px;
    background-color: #ABD726;
    border: 1px solid #A8B090;
    margin-top: 20px;
}

#navlist {
    margin-top: 0px;
}

#navcontainer ul li
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: block;
    float: left;
    background: url("/images/navBarBg.gif") repeat-x 20px;
    font: 10px/20px "Lucida Grande", verdana, sans-serif;
    text-align: center;
}

#navcontainer a
{
    color: #000;
    text-decoration: none;
    display: block;
    width: 100%;
    border: 1px solid #A8B090;
}

#navcontainer li#active { background: url("/images/navBarBgHover.gif") repeat-x 20px; }
#navcontainer a:hover { background: url("/images/navBarBgHover.gif") repeat-x 20px; }

#content {
    margin: 20px;
    padding: 20px;
}

#AdRotator1 {
    float: right;
}

#Button2, #goToStep3Button, #newButton, #goToStep4 {
    margin-left: 560px;
}

#Button1, #goBackToStep2Button, #goBackToStep2 {
    margin-left: 20px;
}

#checkTable, #checkTable2, #Calendar1 {
    margin: 20px;
}